{% import 'diolog.html' as dlg %}
{% include 'header.html' ignore missing %}
<!--content-->
<body>
<ul>
    {% for u in users -%}
        {{ dlg.diolog_1('Внимание','это тестовый диалог')}}
    <li>{{u.name}}</li>
    {%endfor%}
</ul>
</body>
{% include 'footer.html' %}
